# -----------------------------------------------------------
# Vivado Working Directories (Recursive)
# -----------------------------------------------------------
**/*.runs/** linguist-generated=true
**/*.cache/** linguist-generated=true
**/*.hw/** linguist-generated=true
**/*.sim/** linguist-generated=true
**/*.ip_user_files/** linguist-generated=true
**/*.gen/** linguist-generated=true
**/.Xil/** linguist-generated=true

# -----------------------------------------------------------
# Xilinx IP and Block Designs (VHDL)
# -----------------------------------------------------------
**/*.srcs/sources_1/ip/** linguist-generated=true
**/*.srcs/sources_1/bd/** linguist-generated=true

# -----------------------------------------------------------
# Vivado Logs and Journals
# -----------------------------------------------------------
**/*.jou linguist-generated=true
**/*.log linguist-generated=true
**/*.str linguist-generated=true
